*{
    margin: 0px;
    padding: 0px;
    font-family: 'Sriracha', cursive;
} 

.container{
    max-width: 80%;
    /* background-color: chartreuse; */
    padding: 26px;
    margin: auto;
}

.container h1{
    
    font-family: 'Srisakdi', cursive;
    text-align: center;
    font-size: 50px;
}

input{
    width: 80%;
    margin: 11px auto;
    border: 3px solid;
    border-radius: 6px;
    font-size: 17px;
    padding: 4px;
    outline: none;
}

.btn{
    color: white;
    background-color: blueviolet;
    padding: 7px 13px;
    margin: 12px;
    border-radius: 28px;
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg{
    position: absolute;
    z-index: -1;
    opacity: 90%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
}

.container p{
    color: chartreuse;
    text-align: center;
    font-size: 20px;
}
